
.step1{
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    background: var(--White);
    border-radius: 10px;
    margin: 0 auto;
}

.form-title{
    row-gap: 2rem;
}

.form-title h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--Marine-blue);
}

.form-title h3{
    font-size: 1.1rem;
    color: var(--Cool-gray);
    font-weight: 400;
}

.input-name{
    font-size: .8rem;
    color: var(--Marine-blue);
}

.form-part{
    width: 100%;
}

.form-field{
    width: 94%;
    padding: .8rem;
    border: 1px solid var(--Light-gray);
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 600;
    color: var(--Marine-blue);
    opacity: .7;
}