.form-btn{
    background: var(--Marine-blue);
    padding: .7rem 1rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--Magnolia);
    border: none;
    border-radius: 5px;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}